body {
    background-image:url('https://aliceduarteconstelacao.files.wordpress.com/2015/10/atomo.jpg');
    background-size: auto 100vh;
    front-family: Arial;
    height: 100vh;
    color: White;
    }
    
    .menu { 
      background-color: white;
     }
    
     .menu ul {
      display: flex;
      justify-content: space-around;
    }
      
    .menu li {
      list-style: none;
    }
      
    a {
       color:teal;
       text-decoration: none;
    }
      
    a:haver {
      text-decoration: underline;
    }
    .site-subtitle,
    .site-title {
        color: whiteskoke;
        text-align: center;
    }
    
    .site-subtitle {
      front-style: italic;
    }
    
     